[Desktop Entry]
Name=HopCoder - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=hopcoder --open-url %U
Icon=hopcoder
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/hopcoder;
Keywords=hopcoder;
